:root {
    --color-primary: rgb(14, 121, 94);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: var(--color-primary);
    color: white;
    padding: 20px 0px;
    text-align: center;
}

header p {
    margin: 5px 0px;
}

h1,
h2 {
    font-weight: 300;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 10px;
}

form {
    padding-top: 20px;
    text-align: center;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    background: none;
    outline: none;
}

form button {
    border: none;
    cursor: pointer;
    margin-top: 20px;
    background: var(--color-primary);
    padding: 10px 20px;
    color: white;
}

form button:hover {
    filter: brightness(1.2);
}

form input {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 5px;
    margin-top: 4px;
}

form input:focus {
    border: 1px solid black;
}

form label {
    display: block;
    font-size: 14px;
}

form #error {
    color: red;
    padding: 20px 0px;
}

main {
    text-align: center;
    padding-top: 20px;
}

main img {
    margin: 20px 0px;
    max-width: 100%;
}
